.equipment {
	.card {
		background: $grey_light;
		margin-bottom: $gutter / 2;
		border-color: #6d6d6d;

		img {
			display: block;
			width: auto;
			margin: $gutter / 2;
			float: left;
		}

		.lower {
			padding: 15px 30px;
		}

		.title {
			@include font-size(2.3, 1);
			margin-bottom: 10px;
			font-family: $font2;
		}

		p {
			margin-bottom: 10px;
		}

		.price {
			@include font-size(3, 1);
			font-family: $font2;
		}
	}
}