<section class="slider default-bg">

  <div class="container--large">

    <div class="slider-bg default-bg">

      <div class="hero__box">

        <div class="title">
          {{ homepage.hero.title }} </div>

        <p>{{ homepage.hero.body }}</p>

        <a class="btn" href="{{ homepage.hero.primary_cta.url }}">{{ homepage.hero.primary_cta.label }}</a>

        <a class="btn--green" href="{{ homepage.hero.secondary_cta.url }}">{{ homepage.hero.secondary_cta.label }}</a>

      </div>

    </div>

  </div>

</section>
