<div class="sidebar_cta">
  <a href="/contact-us/">
    <div class="upper orange">
      From small gatherings to a royal wedding, we have the right marquee whatever the event.
    </div>
    <div class="lower white">
      Packages from only
      <span>£330</span>
    </div>
  </a>
</div>

<div class="sidebar_cta">

  <div class="upper">
    Find out why capri marquees have become the most popular marquee for any event.
  </div>
  <div class="lower clickthrough">
    <a href="/contact-us/" onclick="ga('send', 'event', 'CTA', 'click', 'Enquire Today');">
      Enquire Today <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
  </div>

</div>
