<footer>
  <div class="footer__top">
    <div class="container--large">
      <div class="grid">
        <div class="grid__item--third">
          <div class="title">
            Contact Info
          </div>
          <ul>
            <li><a href="tel:{{ site.phone.tel }}" class="">{{ site.phone.display }}</a></li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li class="social_li"><a href="https://www.facebook.com/completemarquees/"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/completemarquee"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div><!--
      -->
        <div class="grid__item--two__thirds area__list">
          <div class="title">
            Supplying events to these locations and everywhere inbetween...
          </div>
          <ul>
            <li><a href="/areas/aldershot/">Aldershot</a></li>
            <li><a href="/areas/andover/">Andover</a></li>
            <li><a href="/areas/basingstoke/">Basingstoke</a></li>
            <li><a href="/areas/bournemouth/">Bournemouth</a></li>
            <li><a href="/areas/camberley/">Camberley</a></li>
            <li><a href="/areas/chessington/">Chessington</a></li>
            <li><a href="/areas/chichester/">Chichester</a></li>
            <li><a href="/areas/cobham/">Cobham</a></li>
            <li><a href="/areas/crawley/">Crawley</a></li>
            <li><a href="/areas/dorking/">Dorking</a></li>
            <li><a href="/areas/epsom/">Epsom</a></li>
            <li><a href="/areas/esher/">Esher</a></li>
            <li><a href="/areas/godalming/">Godalming</a></li>
            <li><a href="/areas/guildford/">Guildford</a></li>
            <li><a href="/areas/fareham/">Fareham</a></li>
            <li><a href="/areas/hampshire/">Hampshire</a></li>
            <li><a href="/areas/leatherhead/">Leatherhead</a></li>
            <li><a href="/areas/oxshott/">Oxshott</a></li>
            <li><a href="/areas/portsmouth/">Portsmouth</a></li>
            <li><a href="/areas/reading/">Reading</a></li>
            <li><a href="/areas/salisbury/">Salisbury</a></li>
            <li><a href="/areas/southampton/">Southampton</a></li>
            <li><a href="/areas/surrey/">Surrey</a></li>
            <li><a href="/areas/sutton/">Sutton</a></li>
            <li><a href="/areas/wokingham/">Wokingham</a></li>
            <li><a href="/areas/woking/">Woking</a></li>
            <li><a href="/areas/winchester/">Winchester</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container--large">
      <a href="tel:{{ site.phone.tel }}" class="btn mobile_up_hide">Give Us A Call</a>
      <div class="grid">
        <div class="grid__item--third copyright">
          &copy; Complete Marquees | <a style="color:black !important" href="/privacy/">Our Privacy Policy</a>
        </div><!--
      -->
        <div class="grid__item--third exvat__prices">
          Please Note: All prices quoted are exclusive of VAT
        </div><!--
      -->
        <div class="grid__item--third">
          <div class="created__by">
            {% if page.url == "/" %}<span>Powered by</span> <a href="https://www.chobble.com" rel="nofollow" target="_blank">Chobble Web Design</a>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="speculationrules">
  {"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/wp-*.php","\/wp-admin\/*","\/wp-content\/uploads\/*","\/wp-content\/*","\/wp-content\/plugins\/*","\/wp-content\/themes\/complete-marquees\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>
<script type="text/javascript" src="/wp-includes/js/dist/hooks.min.js" id="wp-hooks-js"></script>
<script type="text/javascript" src="/wp-includes/js/dist/i18n.min.js" id="wp-i18n-js"></script>
<script type="text/javascript" id="wp-i18n-js-after">
  /* <![CDATA[ */
  wp.i18n.setLocaleData({
    'text direction\u0004ltr': ['ltr']
  });
  /* ]]> */

</script>
<script src="/assets/js/site.js" defer></script>
