<footer>
  <div class="footer__top">
    <div class="container--large">
      <div class="grid">
        <div class="grid__item--third">
          <div class="title">
            Contact Info
          </div>
          <ul>
            <li><a href="tel:02392717925" class="">02392 717 925</a></li>
            <li><a href="mailto:completemarquee@gmail.com">completemarquee@gmail.com</a></li>
            <li class="social_li"><a href="https://www.facebook.com/completemarquees/"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/completemarquee"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div><!--
      -->
        <div class="grid__item--two__thirds area__list">
          <div class="title">
            Supplying events to these locations and everywhere inbetween...
          </div>
          <ul>
            <li><a href="/Complete-Marquees/aldershot/">Aldershot</a></li>
            <li><a href="/Complete-Marquees/andover/">Andover</a></li>
            <li><a href="/Complete-Marquees/basingstoke/">Basingstoke</a></li>
            <li><a href="/Complete-Marquees/bournemouth/">Bournemouth</a></li>
            <li><a href="/Complete-Marquees/camberley/">Camberley</a></li>
            <li><a href="/Complete-Marquees/chessington/">Chessington</a></li>
            <li><a href="/Complete-Marquees/chichester/">Chichester</a></li>
            <li><a href="/Complete-Marquees/cobham/">Cobham</a></li>
            <li><a href="/Complete-Marquees/crawley/">Crawley</a></li>
            <li><a href="/Complete-Marquees/dorking/">Dorking</a></li>
            <li><a href="/Complete-Marquees/epsom/">Epsom</a></li>
            <li><a href="/Complete-Marquees/esher/">Esher</a></li>
            <li><a href="/Complete-Marquees/godalming/">Godalming</a></li>
            <li><a href="/Complete-Marquees/guildford/">Guildford</a></li>
            <li><a href="/Complete-Marquees/fareham/">Fareham</a></li>
            <li><a href="/Complete-Marquees/hampshire/">Hampshire</a></li>
            <li><a href="/Complete-Marquees/leatherhead/">Leatherhead</a></li>
            <li><a href="/Complete-Marquees/oxshott/">Oxshott</a></li>
            <li><a href="/Complete-Marquees/portsmouth/">Portsmouth</a></li>
            <li><a href="/Complete-Marquees/reading/">Reading</a></li>
            <li><a href="/Complete-Marquees/salisbury/">Salisbury</a></li>
            <li><a href="/Complete-Marquees/southampton/">Southampton</a></li>
            <li><a href="/Complete-Marquees/surrey/">Surrey</a></li>
            <li><a href="/Complete-Marquees/sutton/">Sutton</a></li>
            <li><a href="/Complete-Marquees/wokingham/">Wokingham</a></li>
            <li><a href="/Complete-Marquees/woking/">Woking</a></li>
            <li><a href="/Complete-Marquees/winchester/">Winchester</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container--large">
      <a href="tel:02392717925" class="btn mobile_up_hide">Give Us A Call</a>
      <div class="grid">
        <div class="grid__item--third copyright">
          &copy; Complete Marquees | <a style="color:black !important" href="/privacy/">Our Privacy Policy</a>
        </div><!--
      -->
        <div class="grid__item--third exvat__prices">
          Please Note: All prices quoted are exclusive of VAT
        </div><!--
      -->
        <div class="grid__item--third">
          <div class="created__by">
            <span>Powered by</span> <a href="http://midasmedia.co.uk" rel="nofollow" target="_blank"><img src="/wp-content/themes/complete-marquees/img/midas-small.png" alt="Midas Media" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="speculationrules">
  {"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/wp-*.php","\/wp-admin\/*","\/wp-content\/uploads\/*","\/wp-content\/*","\/wp-content\/plugins\/*","\/wp-content\/themes\/complete-marquees\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>
<script type="text/javascript" src="/wp-includes/js/dist/hooks.min.js" id="wp-hooks-js"></script>
<script type="text/javascript" src="/wp-includes/js/dist/i18n.min.js" id="wp-i18n-js"></script>
<script type="text/javascript" id="wp-i18n-js-after">
  /* <![CDATA[ */
  wp.i18n.setLocaleData({
    'text direction\u0004ltr': ['ltr']
  });
  /* ]]> */

</script>
<script src="/assets/js/site.js" defer></script>
