{% include "html-head-open.html" %}
  <title>{{ meta_title }} - Complete Marquees</title>
  {% if meta_description %}<meta name="description" content="{{ meta_description }}" />{% endif %}
  {% if no_index %}<meta name="robots" content="noindex, nofollow" />{% endif %}
  {% include "og-meta-static.html" %}
  {% include "head.html" %}
</head>

<body class="wp-singular page-template page wp-theme-complete-marquees">
  {% include "site-header.html" %}

  {% assign breadcrumbCurrent = header_text %}
  {% include "page-main-open.html" %}

  <h1>{{ header_text }}</h1>

  {{ content }}

  {% include "page-sidebar-close.html" %}
